.linktree{
  background-color: #fff;
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.linktree .share-button{
  position: absolute;
  width: 40px;
  height: 40px;
  right: 400px; 
  top: 40px;
  border: 1px dashed #D0D5DD;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linktree .share-button .dot{
  display: none;
}
.profile-section{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-section img{
  width: 88px;
  height: 88px;
  padding-block: 20px;
}
.profile-section h2{
  font-size: 20px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: #10182b;
}
.link-section{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding-inline: 50px;
}
.link-section button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 24px 32px;
  gap: 8px;
  background: #eaecf0;
  width: 100%;
  height: 76px;
  border: 1px solid #eaecf0;
  border-radius: 8px;margin-bottom: 20px;
}
.link-section button a{
  font-size: 18px;
  color: #101828;
  text-decoration: none;
}
.social-section{
  margin-top: 30px;
  margin-bottom: 90px;
  display: flex;
  align-items: center;
}
.social-section img{
  padding-inline: 20px;
}
.footer{
  display: flex;
  justify-content: center;
  width: 100%;
}
.container{
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-between;
  align-items: baseline;
  border-top: 2px solid #d8dce3;
  padding-block: 50px;
}
.container p{
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #667085;
}

@media (max-width: 600px){
  .container{
    flex-direction: column;
  }
  .linktree .share-button .dot{
    display: block;
  }
  .linktree .share-button .share{
    display: none;
  }
  .linktree .share-button{
    right: 15px; 
    top: 40px;
  }
  .link-section{
    margin-top: 25px;
  }
}