/* add styling */
.home {
  text-align: center;
  margin-top: 64px;
}
.profile_img {
  margin-bottom: 24px;
}
.name {
  color: #101828;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  font-family: "Inter";
  margin-bottom: 56px;
}
.links-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter";
}
.link-background {
  background: #eaecf0;
  border-radius: 8px;
  width: 1152px;
  height: 76px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-bottom: 24px;
  border: 1px solid #eaecf0;
  cursor: pointer;
}
.link-background:hover {
  background: #d0d5dd;
}
.links {
  color: #101828;
  text-decoration: none;
  align-items: center;
  padding-top: 24px;
  line-height: 28px;
  font-size: 18px;
}
#twitter {
  font-weight: 500;
}
#btn__zuri {
  font-weight: 600;
}
#books {
  font-weight: 600;
}
#book__python {
  font-weight: 600;
}
#book__design {
  font-weight: 600;
}
.logo-section {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 25px;
}
.slack {
  width: 24px;
  height: 24px;
}
.github {
  width: 24px;
  height: 24px;
  margin-left: 24px;
}
